.header {
    @include flex-fila;
    @include anchoDisplay;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    color: $white;
    background-color: $white;
    z-index: $menu;
}

.header__logo {
    height: 100px;
    z-index: $logo;
}

.header__button {
    display: none;
    border: none;
}

.header__button .line {
    width: 23px;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 4px;
    background-color: $black;
}

.header__menu {}

.header__ul {
    @include flex-fila;
    list-style: none;
}

.header__ul--item {
    padding: 0 15px;
    font-weight: bold;
    border-right: 2px solid $black;
}

.header__ul--item a {
    text-decoration: none;
    font-weight: 500;
    color: $black;
}

.header__contactanos {
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    color: $colorTexto--light;
    cursor: pointer;
    background-color: $red;
    transition: all .5s;
}
.header__contactanos:hover{
    background-color: $black;
}

@media only screen and(max-width:964px) {
    .header {
        height: 80px;
        background-color: $white;
    }

    .header__menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 80px;
        left: 100%;
        height: calc(100% - 80px);
        width: 100%;
        background-color: $black;
        transition: left 1s;
        z-index: $menu;
    }

    .header__logo {
        height: 70px;
        z-index: $logo;
    }

    .header__button {
        display: block;
        z-index: $buttonMenu;
        background-color: $white;
    }

    .header__ul {
        @include flex-col;
        height: inherit;
        justify-content: space-evenly;
    }

    .header__ul--item a {
        color: $white;
    }

    .visible {
        left: 0%;
    }

    .header__contactanos {
        padding: 1%;
    }
}